/* Normalize */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@keyframes cambioFondoPantalla{
  
  0%{
    background: {
      image: $fondoPantallaBar;
      repeat: no-repeat;
      size:cover; 
      attachment: fixed;
    }
  }

  25%{
    background: {
      image: $fondoPantallaApagado;
      repeat: no-repeat;
      size:cover; 
      attachment: fixed;
    }
  }

  50%{
    background: {
      image: $fondoPantallaBlancoNegro;
      repeat: no-repeat;
      size:cover; 
      attachment: fixed;
    }
    
  }

  75%{
    background: {
      image: $fondoPantallaApagado; 
      repeat: no-repeat;
      size:cover; 
      attachment: fixed;
    }
  }


  100%{
    background: {
      image:$fondoPantallaBar;
      repeat: no-repeat;
      size:cover; 
      attachment: fixed;
    }
  }

}


body{

    background: {
      image:$fondoPantallaBar;
      repeat:no-repeat;
      size:cover; 
      attachment: fixed;
    }
    
    color: $colorBlanco;
    
    font: {
        family:$font-family-RussoOne;
        size: 15px; 
    }

    
    
    animation: {
      name: cambioFondoPantalla;
      duration: 10s;
      iteration-count: infinite;
    }
    
}

/* Animations */

@keyframes expandir-texto {
  0% {
      letter-spacing: -0.6em;
      opacity: 0;
  }
  40% {
      opacity: 0.5;
  }
  100% {
      opacity: 1;
  }
}

.expandir-texto {
	animation: expandir-texto 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
}

