/* VARIABLES COLORES */
$colorBlanco: #fff;
$colorNegro: #000; 
$colorRosa: #ff96ad; 
$colorAzulado: #1c7293;
$colorGrisaceo: #999; 
$colorCeleste: #03C4EB; 
$colorRojoBordo: rgb(196, 67, 67);
$colorVioleta: #D344FF;  

$paletaDeColores :(

colorBlanco: #fff,
colorNegro: #000 ,
colorRosa: #ff96ad, 
colorAzulado: #1c7293,
colorGrisaceo: #999 ,
colorCeleste: #03C4EB, 
colorRojoBordo: rgb(196, 67, 67),
colorVioleta: #D344FF 



);


/* VARIABLES IMAGENES FONDOS PANTALLA Y COLORES DE FONDO */
$fondoPantallaBar: url('../image/fondo_pantalla_bar.jpg');
$fondoPantallaApagado: url('../image/fondo_pantalla_bar_apagado.jpg'); 
$fondoPantallaBlancoNegro: url('../image/fondo_pantalla_bar_blanco_negro.jpg'); 
$fondoTranparente: transparent; 
$fondoBotonesBarraNavegacion: linear-gradient(to right top, #e12790, #ce2ea1, #b638b1, #9843bd, #734cc7, #5b60d6, #3d72e0, #0081e7, #009ef1, #00b7ee, #00cde3, #55e1d8); 

$fondos: (

fondoPantallaBar: url('../image/fondo_pantalla_bar.jpg'),
fondoPantallaApagado: url('../image/fondo_pantalla_bar_apagado.jpg'), 
fondoPantallaBlancoNegro: url('../image/fondo_pantalla_bar_blanco_negro.jpg'), 
fondoTranparente: transparent,
fondoBotonesBarraNavegacion: linear-gradient(to right top, #e12790, #ce2ea1, #b638b1, #9843bd, #734cc7, #5b60d6, #3d72e0, #0081e7, #009ef1, #00b7ee, #00cde3, #55e1d8) 

);


/* VARIABLES FONT-FAMILY */
$font-family-RussoOne: 'Russo One', sans-serif; 
$font-family-calibri: 'calibri'; 