  .icono-red-social{
    @include sizes(28px,26px);
  }
  
  .logo-footer {
    @include sizes(150px,150px);
  }

  .direccion {
      //background-image: linear-gradient(to left bottom, #403b42, #353136, #2b272a, #201d1f, #161415, #161415, #161415, #161415, #201d1f, #2b272a, #353136, #403b42);
      background-image: linear-gradient(to right top, #000000, #0b0a0a, #141212, #1a1818, #201d1e, #312f2f, #444142, #575555, #7e7c7d, #a7a6a6, #d2d2d2, #ffffff);
      padding: {
        top:20px;
        bottom: 10px;
        left: 0;
        right: 0;
      }
      color: map-get($map: $paletaDeColores, $key: colorBlanco);
      margin-top: 50px;
      .titulo-footer{
        font-size: 32px;
        line-height: 32px;
        font-weight: 300;
        margin-bottom: 20px;
      }
      .calle, .telefono, .correo {
        margin-bottom: 10px;
      }
      .logo--footer {
        img {
          margin-top: 70px;
        }
      }
  }

  .social{
    //background-image: linear-gradient(to right bottom, #d344ff, #ba2abb, #971b80, #6e1651, #42132b, #42132b, #42132b, #42132b, #6e1651, #971b80, #ba2abb, #d344ff);
    //background-image: linear-gradient(to right top, #000000, #0b0a0a, #141212, #1a1818, #201d1e, #312f2f, #444142, #575555, #7e7c7d, #a7a6a6, #d2d2d2, #ffffff);
    //background-image: linear-gradient(to right top, #000000, #0b0a0a, #141212, #1a1818, #201d1e, #352328, #4b2732, #622b3a, #8b2958, #b02583, #ca2bbb, #d344ff);
    background: map-get($map: $fondos, $key: fondoBotonesBarraNavegacion);
    .icono-red-social {
      padding: 10px;
      display: inline-block;
      margin: 0 20px;
      @include sizes(70px,70px);
      border-radius: 50px;
      cursor: pointer;
    }
  }

  .derechosh6 {
    margin-top: 10px;
    color:map-get($map: $paletaDeColores, $key: colorBlanco); 
  }

  .poster-sula {
    margin-top: 0;
    @include sizes(500px,300px);
    border-radius: 50px;
  }

  .titulo-promo-footer{
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  @media screen and (max-width:958px){
    .poster-sula{
      @include sizes(100%,300px);
    }
  }
  