header {
    width: 100%;
    background: map-get($map: $fondos, $key: fondoTranparente);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 2rem;
}

.navbar{

    list-style: none;
    display: flex;
    justify-content:center;    
    width: 90%;
    max-width: 1000px;
    margin:auto; 
    
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-item {

  display: inline-block;
  text-align: center;
}



.navbar-item-logo{
  cursor: pointer;
  border-radius: 2px;
}

.navbar 
    { .navbar-menu {
          .navbar-item {
            a {
              text-decoration: none;
              padding: 20px;
              display: inline-block;
              color: map-get($map: $paletaDeColores, $key: colorBlanco);
              &:hover{
                background-image: map-get($map: $fondos, $key: fondoBotonesBarraNavegacion); 
                border-radius: 25px;
                opacity: 2px;
              }

              &.active{
                @extend .navbar-item;
                text-decoration: underline;
                color: map-get($map: $paletaDeColores, $key: colorVioleta);
              }
              &.active:hover{
                @extend .navbar-item;
                color: map-get($map: $paletaDeColores, $key: colorBlanco);
              }

            }
          }
        }
    } 

.logo-redondeado {
  border-radius: 40px;
}

.header {
  .navbar {
    background: map-get($map: $fondos, $key: fondoTranparente); 
    border-radius: 25px;
  }
}


.btn_menu {
    display: none;
}
  
.label_menu {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid map-get($map: $paletaDeColores, $key: colorBlanco);
    &:hover{
      cursor: pointer;
      background: map-get($map: $fondos, $key: fondoTranparente);
    }
}

  
  @media screen and (max-width:768px) {
  
    .label_menu {
      display: block;
    }
  
    .navbar {
      position: absolute;
      background: map-get($map: $fondos, $key: fondoTranparente);
      width: 70%;
      margin-left: -70%;
    }
  
    .navbar-menu {
      flex-direction: column;
    }
  
    .navbar-item {
      border-top: 1px solid map-get($map: $paletaDeColores, $key: colorBlanco);
    }
  
    .btn_menu:checked + .navbar {
      background-color: map-get($map: $paletaDeColores, $key: colorCeleste); 
    }
  
  }
  