header {
    width: 100%;
    background: map-get($map: $fondos, $key: fondoTranparente);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5rem 2rem;
}

.navbar{

    list-style: none;
    display: flex;
    justify-content:center;    
    width: 90%;
    max-width: 1000px;
    margin:auto; 
    
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-item {

  display: inline-block;
  text-align: center;
}



.navbar-item-logo{
  cursor: pointer;
  border-radius: 2px;
}
//navbar seria mi nav, navbar-menu es el ul y navbar-item seria los li
.navbar 
    { .navbar-menu {
          .navbar-item {
            a {
              text-decoration: none;
              padding: 20px;
              display: inline-block;
              color: map-get($map: $paletaDeColores, $key: colorBlanco);
              &:hover{
                background-image: map-get($map: $fondos, $key: fondoBotonesBarraNavegacion); 
                border-radius: 25px;
                opacity: 2px;
              }

              &.active{
                @extend .navbar-item;
                text-decoration: underline;
                color: map-get($map: $paletaDeColores, $key: colorVioleta);
              }
              &.active:hover{
                @extend .navbar-item;
                color: map-get($map: $paletaDeColores, $key: colorBlanco);
              }

            }
          }
        }
    } 

.logo-redondeado {
  border-radius: 40px;
}

.header {
  .navbar {
    background: map-get($map: $fondos, $key: fondoTranparente); 
    border-radius: 25px;
  }
}

.btn-menu-hamburguer{
  margin-right: 30px;
  font-size: 20px;
  color: $colorBlanco;
  cursor: pointer;
  display: none;
}

.navbar-menu.show{
  top:65px;
}



.btn_menu {
    display: none;
}
  
.label_menu {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-right: 1px solid map-get($map: $paletaDeColores, $key: colorBlanco);
    &:hover{
      cursor: pointer;
      background: map-get($map: $fondos, $key: fondoTranparente);
    }
}

@media screen and (max-width:1000px){
  .navbar {
    height: 65px;
  }
  .btn-menu-hamburguer{ 
    display: inline-flex;
    
  }
  .navbar-menu{
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }

}

@media screen and (max-width:1000px) and (orientation:landscape){
  .navbar-menu{
    overflow: scroll;
    height: calc(100% - 65px);
    .navbar-item{
      margin: 5px 0 0 0;
    }
  }
}



@media screen and (max-width:952px){
  .navbar {
    height: 65px;
  }
  .btn-menu-hamburguer{ 
    display: inline-flex;
    
  }
  .navbar-menu{
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }

}

@media screen and (max-width:952px) and (orientation:landscape){
  .navbar-menu{
    overflow: scroll;
    height: calc(100% - 65px);
    .navbar-item{
      margin: 5px 0 0 0;
    }
  }
}

@media screen and (max-width:858px) {

  .navbar {
    height: 65px;
  }
  .btn-menu-hamburguer{ 
    display: inline-flex;
    
  }
  .navbar-menu{
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }

}

@media screen and (max-width:858px) and (orientation:landscape){
  .navbar-menu{
    overflow: scroll;
    height: calc(100% - 65px);
    .navbar-item{
      margin: 5px 0 0 0;
    }
  }
}