@charset "UTF-8";
/* VARIABLES COLORES */
/* VARIABLES IMAGENES FONDOS PANTALLA Y COLORES DE FONDO */
/* VARIABLES FONT-FAMILY */
/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@keyframes cambioFondoPantalla {
  0% {
    background-image: url("../image/fondo_pantalla_bar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  25% {
    background-image: url("../image/fondo_pantalla_bar_apagado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  50% {
    background-image: url("../image/fondo_pantalla_bar_blanco_negro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  75% {
    background-image: url("../image/fondo_pantalla_bar_apagado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
  100% {
    background-image: url("../image/fondo_pantalla_bar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; } }

body {
  background-image: url("../image/fondo_pantalla_bar.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  font-family: "Russo One", sans-serif;
  font-size: 15px;
  animation-name: cambioFondoPantalla;
  animation-duration: 10s;
  animation-iteration-count: infinite; }

/* Animations */
@keyframes expandir-texto {
  0% {
    letter-spacing: -0.6em;
    opacity: 0; }
  40% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }

.expandir-texto {
  animation: expandir-texto 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) forwards; }

header {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 2rem; }

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 90%;
  max-width: 1000px;
  margin: auto; }

.navbar-menu {
  display: flex;
  align-items: center; }

.navbar-item, .navbar .navbar-menu .navbar-item a.active, .navbar .navbar-menu .navbar-item a.active:hover {
  display: inline-block;
  text-align: center; }

.navbar-item-logo {
  cursor: pointer;
  border-radius: 2px; }

.navbar .navbar-menu .navbar-item a, .navbar .navbar-menu .navbar-item a.active a, .navbar .navbar-menu .navbar-item a.active:hover a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  color: #fff; }
  .navbar .navbar-menu .navbar-item a:hover, .navbar .navbar-menu .navbar-item a.active:hover a:hover {
    background-image: linear-gradient(to right top, #e12790, #ce2ea1, #b638b1, #9843bd, #734cc7, #5b60d6, #3d72e0, #0081e7, #009ef1, #00b7ee, #00cde3, #55e1d8);
    border-radius: 25px;
    opacity: 2px; }
  .navbar .navbar-menu .navbar-item a.active, .navbar .navbar-menu .navbar-item a.active:hover a.active {
    text-decoration: underline;
    color: #D344FF; }
  .navbar .navbar-menu .navbar-item a.active:hover {
    color: #fff; }

.logo-redondeado {
  border-radius: 40px; }

.header .navbar {
  background: transparent;
  border-radius: 25px; }

.btn-menu-hamburguer {
  margin-right: 30px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: none; }

.navbar-menu.show {
  top: 65px; }

.btn_menu {
  display: none; }

.label_menu {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #fff; }
  .label_menu:hover {
    cursor: pointer;
    background: transparent; }

@media screen and (max-width: 952px) {
  .navbar-menu .navbar-item a, .navbar .navbar-menu .navbar-item a.active a, .navbar .navbar-menu .navbar-item a.active:hover a {
    font-size: 16px; } }

@media screen and (max-width: 858px) {
  .navbar {
    height: 65px; }
  .btn-menu-hamburguer {
    display: inline-flex; }
  .navbar-menu {
    position: fixed;
    width: 100vw;
    height: calc(100% - 65px);
    background: #414141;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column; } }

@media screen and (max-width: 858px) and (orientation: landscape) {
  .navbar-menu {
    overflow: scroll;
    height: calc(100% - 65px); }
    .navbar-menu .navbar-item, .navbar .navbar-menu .navbar-item a.active, .navbar .navbar-menu .navbar-item a.active:hover {
      margin: 5px 0 0 0; } }

.icono-red-social {
  width: 28px;
  height: 26px; }

.logo-footer {
  width: 150px;
  height: 150px; }

.direccion {
  background-image: linear-gradient(to right top, #000000, #0b0a0a, #141212, #1a1818, #201d1e, #312f2f, #444142, #575555, #7e7c7d, #a7a6a6, #d2d2d2, #ffffff);
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  color: #fff;
  margin-top: 50px; }
  .direccion .titulo-footer {
    font-size: 32px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 20px; }
  .direccion .calle, .direccion .telefono, .direccion .correo {
    margin-bottom: 10px; }
  .direccion .logo--footer img {
    margin-top: 70px; }

.social {
  background: linear-gradient(to right top, #e12790, #ce2ea1, #b638b1, #9843bd, #734cc7, #5b60d6, #3d72e0, #0081e7, #009ef1, #00b7ee, #00cde3, #55e1d8); }
  .social .icono-red-social {
    padding: 10px;
    display: inline-block;
    margin: 0 20px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    cursor: pointer; }

.derechosh6 {
  margin-top: 10px;
  color: #fff; }

.poster-sula {
  margin-top: 0;
  width: 500px;
  height: 300px;
  border-radius: 50px; }

.titulo-promo-footer {
  font-size: 28px;
  line-height: 32px;
  font-weight: 300;
  margin-bottom: 10px; }

@media screen and (max-width: 958px) {
  .poster-sula {
    width: 100%;
    height: 300px;
    padding: 10px; }
  .mapa {
    width: 100%;
    height: 150px;
    padding: 10px; }
  .titulo-footer {
    text-align: center; }
  .titulo-promo-footer {
    text-align: center; }
  .calle, .telefono, .correo {
    text-align: center; } }

.form-login {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.bg-login {
  background-image: url("/assets/image/logo_sula.png");
  background-size: contain; }

.container-login {
  padding-left: 10px;
  padding-right: 10px; }

.inicio-sesion {
  text-decoration: none;
  color: #fff; }

.inicio-sesion:hover {
  color: #fff; }

.warning-password {
  color: #F70432;
  padding-bottom: 0;
  font-size: 20px; }

.warning-email {
  color: #F70432;
  padding-bottom: 0;
  font-size: 20px; }

#hero {
  display: table;
  width: 100%;
  height: 75%;
  background: url(../img/hero-bg.jpg) top center fixed;
  background-size: cover; }

#hero .hero-container {
  background: transparent;
  display: table-cell;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle; }

#hero h1 {
  margin: 30px 0 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff; }

#hero h2 {
  color: #999;
  margin-bottom: 50px; }

#hero .rotating > .animated {
  display: inline-block; }

@keyframes rotacion {
  0% {
    transform: translate(-300px); }
  25% {
    transform: translate(-150px);
    transform: rotate(90deg); }
  50% {
    transform: translate(300px); }
  75% {
    transform: translate(300px);
    transform: rotate(270deg); }
  100% {
    transform: translate(-300px); } }

#hero .hero-container .actions .logo-actions {
  animation-name: rotacion;
  animation-duration: 12s;
  animation-iteration-count: infinite; }

#hero .actions a {
  font-family: "Russo One", sans-serif;
  font-weight: 500px;
  font-size: 25px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  text-decoration: none; }

@keyframes mover {
  0% {
    transform: translate(0px); }
  50% {
    transform: translateY(50px); }
  100% {
    transform: translateY(0px); } }

#hero .btn-services {
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  animation-duration: 5s;
  animation-iteration-count: infinite; }
  #hero .btn-services:hover {
    background: white;
    color: #000;
    border: 2px solid #000;
    border-radius: 100px; }

.logo-actions {
  border: 5px solid #fff;
  border-radius: 500px; }

.titulo-animado {
  display: flex; }

.lista {
  margin-left: 15px; }

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center; }

.item {
  color: #D344FF;
  position: absolute;
  animation: roll 6s ease 1s infinite backwards; }

.item:nth-child(1) {
  animation-delay: 0s;
  opacity: 0; }

.item:nth-child(2) {
  animation-delay: 2s;
  opacity: 0; }

.item:nth-child(3) {
  animation-delay: 4s;
  opacity: 0; }

@keyframes roll {
  0% {
    opacity: 0;
    transform: translate3d(0, -70%, 0); }
  2.5%, 25% {
    opacity: 1;
    transform: translateZ(0); }
  27.5%, 100% {
    opacity: 0;
    transform: translate3d(0, -70%, 0); } }

.form-registro {
  width: 400px;
  height: 600px;
  background-image: linear-gradient(to right top, #e12790, #ce2ea1, #b638b1, #9843bd, #734cc7, #5b60d6, #3d72e0, #0081e7, #009ef1, #00b7ee, #00cde3, #55e1d8);
  padding: 30px;
  margin: auto;
  margin-top: 20px;
  border-radius: 30px;
  font-family: "Russo One", sans-serif;
  color: #fff;
  box-shadow: 7px 13px 37px #999;
  border: 4px solid #000; }

.form-registro h3 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center; }

.controles {
  width: 100%;
  display: block;
  background: #fff;
  padding: 5px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #000;
  font-family: "calibri";
  font-size: 18px;
  color: #000; }
  .controles:focus {
    border: 3px solid red; }

.form-registro .boton-registro {
  width: 100%;
  background: #000;
  border: 2px solid #fff;
  padding: 3px;
  color: #fff;
  margin-top: 20px;
  font-size: 16px;
  font-family: "Russo One", sans-serif;
  transition: all 0.5s linear; }
  .form-registro .boton-registro:hover {
    background: #fff;
    border: 2px solid #000;
    color: #000; }

@media screen and (max-width: 958px) {
  .form-registro {
    width: 100%; } }

.titulo-galeria {
  text-align: center; }
  .titulo-galeria:hover {
    color: #c44343; }

.galeria-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  grid-gap: 10px;
  padding: 20px; }

.galeria-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.galeria-item:nth-child(4) {
  grid-column-start: span 2; }

.galeria-item:nth-child(4) {
  grid-row-start: span 2; }

.galeria-item:nth-child(5) {
  grid-row-start: span 4; }

.galeria-item:nth-child(1) {
  grid-row-start: span 2; }

.galeria-item:nth-child(8) {
  grid-row-start: span 2; }

.galeria-item:nth-child(9) {
  grid-row-start: span 2; }

.usuario_instagram {
  display: inline-block; }

.div_mayor_mayor_fotos_due単os {
  display: flex;
  justify-content: space-around; }

.div_mayor_due単os {
  display: flex;
  justify-content: center; }

.div__foto_due単o {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.div_foto_due単o {
  width: fit-content;
  background: #000;
  color: #fff;
  margin-top: 10px;
  border: 3px solid #fff;
  border-radius: 10px;
  border-left: 50px;
  border-right: 50px;
  padding-left: 4px;
  padding-right: 4px; }

.sula-coloreado {
  color: #D344FF; }

.nombre-cliente {
  color: #D344FF; }

.cliente {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; }

.foto-cliente {
  margin-right: 10px;
  margin-left: 10px; }

.review {
  border: 3px solid white;
  padding: 10px;
  border-radius: 10px;
  background: black; }

.grupo-cliente {
  display: flex;
  flex-direction: column; }

.titulo-coloreado {
  color: #D344FF; }
