.usuario_instagram {
    display: inline-block;
  }
  
  .div_mayor_mayor_fotos_dueños {
    display: flex;
    justify-content: space-around;
  }
  
  .div_mayor_dueños{
    display: flex;
    justify-content: center;
    
  }
  
  .div__foto_dueño{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  
  .div_foto_dueño {
    width: fit-content;
    background: $colorNegro;
    color: $colorBlanco;
    margin-top: 10px;
    border: 3px solid $colorBlanco;
    border-radius: 10px;
    border: {
      left: 50px;
      right: 50px;
    }
    padding: {
      left: 4px;
      right: 4px;
    }
  }


  .sula-coloreado {
    color: $colorVioleta;
  }

  @media screen and (max-width:958px){
    // .div_foto_dueño{
    //   width: 100%;
    // }

    .div__foto_dueño{
      padding: 20px;
      align-items: center;
    }

  }