.form-registro {
    width: 400px;
    height: 600px;
    //background-image: linear-gradient(to right top, #d344ff, #ba2abb, #971b80, #6e1651, #42132b, #41142b, #41152b, #40162b, #6b1d4f, #93277d, #b737b4, #d34ff4);
    background-image: map-get($map: $fondos, $key: fondoBotonesBarraNavegacion);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    border-radius: 30px;
    font-family: $font-family-RussoOne;
    color:$colorBlanco;
    box-shadow: 7px 13px 37px $colorGrisaceo;
    border: 4px solid $colorNegro;
    
    

}

.form-registro {
  h3{
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.controles {
    width: 100%;
    display: block;
    background:$colorBlanco;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid $colorNegro;
    font: {
      family: $font-family-calibri;
      size: 18px;
    }
    color: $colorNegro;
    &:focus{
      border: 3px solid red;
    }
}

.form-registro {
    .boton-registro{
      width: 100%;
      background: $colorNegro;
      border: 2px solid $colorBlanco; 
      padding: 3px;
      color: $colorBlanco; 
      margin-top: 20px;
      font: {
        size: 16px;
        family: $font-family-RussoOne;
      }
      transition:all 0.5s linear;
      &:hover{
        background: $colorBlanco;
        border: 2px solid $colorNegro;
        color:$colorNegro;  
      }
    }
}

