.nombre-cliente {
    color:$colorVioleta; 
}

.cliente {
    display: flex;
    justify-content: center;
    margin: {
        top:20px;
        bottom: 20px;
    }
    
    
}

.foto-cliente{
    margin: {
        right: 10px;
        left: 10px;
    }
}

.review {
    border: 3px solid white;
    padding: 10px;
    border-radius: 10px;
    background: black;
}

.grupo-cliente{
    display: flex;
    flex-direction: column;
}

.titulo-coloreado{
    color:$colorVioleta;
}

@media screen and (max-width:958px){
    .cliente{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .foto-cliente{
        padding: 10px;
    }
}